name: Release nix package

on:
  push:
    tags:
      - 'v*'

jobs:
  update-nixpkgs:
    runs-on: ubuntu-latest
    steps:
      - name: Install Nix
        uses: cachix/install-nix-action@v31

      - name: Update nixpkgs
        uses: shini4i/nixpkgs-updater@v1
        with:
          package-name: gnome-shell-extension-elgato-lights
          version: ${{ github.ref_name }}
          target-repo: shini4i/nixpkgs
          github-token: ${{ secrets.NIXPKGS_TOKEN }}
